.resources__link_logo_arzamas {
    background-image: url(../../../../images/logo/resources-arzamas.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}